.center
{
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
}
hr 
{
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}
h1, label
{
    color: DodgerBlue;
}
a
{
    text-decoration: none;
    color: black;
}